<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER LIST</title>
</head>
<body>
<main>
    <article>

        <p th:text="${users}"></p>


        <section>

            <div class="user" style="display: flex; height:15vh; align-items: center;">
                <section class="image" style="width:15vh; height:15vh">
                    <img src="" alt="">
                </section>

                <section class="description" style="display:flex; flex-direction:row; width=100%; height:10vh;">
                    <p class="name" style="margin-right: 20px">TEST</p>
                    <p class="surname">TESTUJE</p>
                </section>
            </div>

            <div class="user" style="display: flex; height:15vh; align-items: center;">
                <section class="image" style="width:15vh; height:15vh">
                    <img src="" alt="">
                </section>

                <section class="description" style="display:flex; flex-direction:row; width=100%; height:10vh;">
                    <p class="name" style="margin-right: 20px">TEST</p>
                    <p class="surname">TESTUJE</p>
                </section>
            </div>

            <div class="user" style="display: flex; height:15vh; align-items: center;">
                <section class="image" style="width:15vh; height:15vh">
                    <img src="" alt="">
                </section>

                <section class="description" style="display:flex; flex-direction:row; width=100%; height:10vh;">
                    <p class="name" style="margin-right: 20px">TEST</p>
                    <p class="surname">TESTUJE</p>
                </section>
            </div>

            <div class="user" style="display: flex; height:15vh; align-items: center;">
                <section class="image" style="width:15vh; height:15vh">
                    <img src="" alt="">
                </section>

                <section class="description" style="display:flex; flex-direction:row; width=100%; height:10vh;">
                    <p class="name" style="margin-right: 20px">TEST</p>
                    <p class="surname">TESTUJE</p>
                </section>
            </div>
        </section>
    </article>

    <section style="display: flex; width:100%; height:30vh; align-items:center; justify-content: center;">
        <button onclick="window.location = '/user'"  style="width:100px; height: 65px; align-text: center; border-radius:10%; border: none; background-color: grey;">
            ADD USER
        </button>
    </section>

</main>
</body>
</html>